[run]
omit =
    */__init__.py
    */tests/*
    *conftest*
    */ocsort/*
    */config-3.py
    */config.py
relative_files = True
plugins =
  coverage_conditional_plugin
[report]
exclude_lines =
    pragma: no cover


[coverage:coverage_conditional_plugin]
rules =
  "not os_environ.get('CAM_TESTS') == 'True'": cam-tests
  "not os_environ.get('AI_TESTS') == 'True'": ai-tests
